* {
    margin: 0;
    padding: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.dataForm {
    margin: 30px auto;
    width: 210px;
    padding: 40px;
    border: 1px solid gray;
    text-align: center
}

.dataForm span {
    font-size: 20px;
    color: chocolate;
}

.dataForm input {
    display: block;
    margin: 10px auto;;
    padding: 3px;
    color:darkgray;
}

.dataForm button {
    /*background-color: #CB3B4F;*/
    margin: 20px;
    padding: 3px;
    font-size: 14px;
    font-weight: 200;
    /*color: white;*/
}

.success {
    margin: 30px auto;
    width: 210px;
    margin: 50px;
    text-align: center;
}
